@import "tailwindcss";

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease-out forwards;
}

.animate-delay-1 {
  animation-delay: 0.5s;
}
.animate-delay-2 {
  animation-delay: 1s;
}
.animate-delay-3 {
  animation-delay: 1.5s;
}
.animate-delay-4 {
  animation-delay: 2s;
}

@keyframes zoomBg {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.animate-zoomBg {
  animation: zoomBg 2s ease-out forwards;
}
